@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 275 100% 10%;
    --foreground: 51 100% 95%;

    --card: 275 50% 15%;
    --card-foreground: 51 100% 95%;

    --popover: 275 50% 15%;
    --popover-foreground: 51 100% 95%;

    --primary: 275 100% 25%;
    --primary-foreground: 51 100% 95%;

    --secondary: 275 50% 20%;
    --secondary-foreground: 51 100% 95%;

    --muted: 275 50% 20%;
    --muted-foreground: 51 100% 80%;

    --accent: 51 100% 50%;
    --accent-foreground: 275 100% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 275 50% 30%;
    --input: 275 50% 20%;
    --ring: 51 100% 50%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 275 100% 10%;
    --foreground: 51 100% 95%;

    --card: 275 50% 15%;
    --card-foreground: 51 100% 95%;

    --popover: 275 50% 15%;
    --popover-foreground: 51 100% 95%;

    --primary: 275 100% 25%;
    --primary-foreground: 51 100% 95%;

    --secondary: 275 50% 20%;
    --secondary-foreground: 51 100% 95%;

    --muted: 275 50% 20%;
    --muted-foreground: 51 100% 80%;

    --accent: 51 100% 50%;
    --accent-foreground: 275 100% 10%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 275 50% 30%;
    --input: 275 50% 20%;
    --ring: 51 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    animation: stars 200s linear infinite;
  }

  @keyframes stars {
    from { background-position: 0 0, 40px 60px, 130px 270px, 70px 100px; }
    to { background-position: -10000px 5000px, -10000px 5000px, -10000px 5000px, -10000px 5000px; }
  }
}
